* {
  margin: 0;
  padding: 0;
}

.movieTitle {
  margin: 0 auto;
  font-size: 12px;
}
.firstLine,
.secondLine {
  display: flex;
  gap: 16px;
  margin: 1em 50px;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.firstMovieBox,
.secondMovieBox {
  margin: 0px auto;

  img {
    width: 50px;
    height: 70px;
    display: block;
    margin-bottom: 1px;
  }
}

.movieName {
  font-size: 4px;
  font-weight: 600;
}

.movieRating {
  font-size: 3px;
  line-height: 5px;
}

.review {
  font-size: 3px;
  line-height: 5px;
}

.reply {
  font-size: 3px;
  line-height: 5px;
}

.firstMovie,
.secondMovie,
.thirdMovie,
.fourthMovie {
  width: 100px;
  height: 100px;
}
